SUBSYSTEMS=="usb", ENV{ID_USB_INTERFACE_NUM}="$attr{bInterfaceNumber}"
SUBSYSTEM=="tty", ATTRS{busnum}=="1", ATTRS{idProduct}=="6011", ATTRS{idVendor}=="0403", ENV{ID_USB_INTERFACE_NUM}=="00", SYMLINK+="ttyRS485-RMC-0"
SUBSYSTEM=="tty", ATTRS{busnum}=="1", ATTRS{idProduct}=="6011", ATTRS{idVendor}=="0403", ENV{ID_USB_INTERFACE_NUM}=="01", SYMLINK+="ttyRS485-RMC-1"
SUBSYSTEM=="tty", ATTRS{busnum}=="1", ATTRS{idProduct}=="6011", ATTRS{idVendor}=="0403", ENV{ID_USB_INTERFACE_NUM}=="02", SYMLINK+="ttyRS485-RMC-2"
SUBSYSTEM=="tty", ATTRS{busnum}=="1", ATTRS{idProduct}=="6011", ATTRS{idVendor}=="0403", ENV{ID_USB_INTERFACE_NUM}=="03", SYMLINK+="ttyPOE"
SUBSYSTEM=="tty", ATTRS{busnum}=="2", ATTRS{idProduct}=="6011", ATTRS{idVendor}=="0403", ENV{ID_USB_INTERFACE_NUM}=="00", SYMLINK+="ttyRS485-io-0"
SUBSYSTEM=="tty", ATTRS{busnum}=="2", ATTRS{idProduct}=="6011", ATTRS{idVendor}=="0403", ENV{ID_USB_INTERFACE_NUM}=="01", SYMLINK+="ttyRS485-io-1"
SUBSYSTEM=="tty", ATTRS{busnum}=="2", ATTRS{idProduct}=="6011", ATTRS{idVendor}=="0403", ENV{ID_USB_INTERFACE_NUM}=="02", SYMLINK+="ttyRS485-io-2"
SUBSYSTEM=="tty", ATTRS{busnum}=="2", ATTRS{idProduct}=="6011", ATTRS{idVendor}=="0403", ENV{ID_USB_INTERFACE_NUM}=="03", SYMLINK+="ttyRS485-io-3"
